extends layout.pug
include utils.pug
append head
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous")
    //- add page specific js
    script(src="/javascripts/index.js" type="module" defer)
    script(src="/javascripts/homePage.js" type="module" defer)
block content
    body
        section(class="main_section-header")
            div(class="main_section-container")
                div(class="form")
                form(class="form_container-form" action='/users/register' method='POST')
                    h1(class="form_container-form-title") Register Form
                    input( type="hidden" name="_csrf" value=csrfToken)
                    div 
                        label(class="form_container-form-input-label" for="firstName") First Name
                        br
                        input(class="form_container-form-input" type="text" id="firstName" name="firstName" style="color:black")
                        br
                    div
                        label(class="form_container-form-input-label" for="lastName") Last Name
                        br
                        input(class="form_container-form-input" type="text" id="lastName" name="lastName" style="color:black")
                        br
                    div
                        label(class="form_container-form-input-label" for="email") Email Address
                        br
                        input(class="form_container-form-input" type="text" id="email" name="email" style="color:black")
                        br
                    div
                        label(class="form_container-form-input-label" for="password") Password
                        br
                        input(class="form_container-form-input" type="password" id="password" name="password" style="color: black")
                        br
                    div
                        label(class="form_container-form-input-label" for="confirmPassword") Confirmed Password
                        br
                        input(class="form_container-form-input" type="password" id="confirmPassword" name="confirmPassword" style="color: black")
                        br
                        button(class="form_container-demo-button-signup" type="submit" ) Register
        section(class="main_section-content")
            div(class="home_content_container")
                div(class="podcast_table")
                    p(class="podcast_table-title") Listenup Top 5 Podcasts
                    p(class="podcast-table-header") Here's a list of some of the highest rated podcast
                    table(class="table")
                        tbody
                        each podcast in podcasts
                            tr(class="row")
                            td(class="td_line")
                                i(class="fas fa-music")
                            td(class="td_line")
                                img(src=podcast.podcastImage width="100px" height="100px" class="podcast_table-image")
                            td(class="td_line")
                                span(class="author-host")= podcast.title
                                br
                                span(class="by")= podcast.host
                                div(class="star_container" data-podcast-id=podcast.id)
                                each star in [1,2,3,4,5]
                                    if star > podcast.rating.rating
                                        i(class="far fa-star rating" data-rating-id=podcast.rating.id data-rating=star data-podcast-id=podcast.id)
                                    else
                                        i(class="fas fa-star rating" data-rating-id=podcast.rating.id data-rating=star data-podcast-id=podcast.id)
                div(class="podcast")
                    h1= recommendation.title
        section(class="main_section-footer")
            footer(class="main_section-container-footer")
                i(class="fab fa-github footer-icon fa-3x")
               
            
                