extends layout.pug
include utils.pug

block content
  body
    div(class="content content--main-sidebar")
      div(class="content_container")
        div(class="podcast_container-elements")
          div(class="image_container")
            img(src=podcast.podcastImage width="200px" height="200px")
            form(class="listenStatus")
              div(class="playlist_select_wrapper")
                select(class="playlist_select" name="playlists")
                  option(value="") Add to playlist
                  each playlist in playlists
                    if playlist.id === playlistPodcastJoin.playlistId
                      option(value=playlist.id selected)= playlist.title
                    else
                      option(value=playlist.id)= playlist.title
                input(type="hidden" id="podcastId" value=podcast.id)
                input(type="hidden" id="currentPlaylistId" value=playlistPodcastJoin.playlistId)
                input(type="hidden" id="currentJoinId" value=playlistPodcastJoin.id)
            div(class="star_container" data-podcast-id=podcast.id)
              p My Rating:
              each star in [1,2,3,4,5]
                if star > rating.rating
                  i(class="far fa-star rating" data-rating-id=rating.id data-rating=star data-podcast-id=podcast.id)
                else
                  i(class="fas fa-star rating" data-rating-id=rating.id data-rating=star data-podcast-id=podcast.id)
          div(class="podcast_container-info")
            p(class="content_container-text")= podcast.title
            p(class="content_container-header")= podcast.hostName
            div(class="div_content_container-para")
              p(class="content_container-para" id="podcast_description")= podcast.description
            p(class="content_container-link") Listen Now!
            each link in links
              a(href=`${link.url}` class="podcast_info-link-button" button )= link.name

        div(class="reviews_container")
          form(class="form_container-form" action=`/podcasts/${podcast.id}/reviews` method='POST')
              input(type="hidden" id="podcastId" value=podcast.id)
              label(class="form_container-form-input-label" for="reviews") Review this podcast
              br
              textarea(class="review_input" type="text" name="review") Leave a review
              br
              button(class="review-button" type='submit') Submit Review
          div(class="reviews_container-list")
            ul(class="review_list")
              each review in reviews
                li(class="review_list-elements")= review.content
                  div(class="icon_container")
                    a(href=`${podcast.id}/reviews/${review.id}` id="edit-button" class="review_list-elements-edit" text-decoration="none" title="edit" button)
                      i(class="fas fa-pen edit_button")
                    form(action=`${podcast.id}/reviews/${review.id}/delete` method="POST")
                      button(type="submit" class="review_delete")
                        i(class="fas fa-trash-alt delete_button" title="delete")



      div(class="rightContainer")
        div(class="box")
          h1 Explore the top five new podcasts
          div
            img(class="boxImage" src="/listen1.png")
          div
            p Explore trending topics in ...
        div(class="box")
          h1 Request Your Favorite Podcast
          form(class="form" )
            label(for="fname") Podcast Name:
            input#fname( class="box_input" type="text" name="fname")
            br
            br
            label(for="lname") Podcast Link:
            input#lname(class="box_input" type="text" name="lname")
            br
            br
            input(class="box_input-btn" type="submit" value="Submit")
