extends layout.pug
include utils.pug

block content
  body
    nav(class="nave2box")
      div(class="mininav") home
      div(class="mininav") browse
      div(class="mininav") podcast
    div(class="content content--main-sidebar")
      div(class="content_container")
        div(class="podcast_container-elements")
          div(class="image_container")
            img(src=podcast.podcastImage width="200px" height="200px")
            form(class="listenStatus")
              div(class="playlist_select_wrapper")
                select(class="playlist_select" name="playlists")
                  option(value="") Add to playlist
                  each playlist in playlists
                    if playlist.id === playlistPodcastJoin.id
                      option(value=playlist.id selected)= playlist.title
                    else
                      option(value=playlist.id)= playlist.title
                input(type="hidden" id="podcastId" value=podcast.id)
                input(type="hidden" id="currentJoinId" value=playlistPodcastJoin.id)
            div(class="star_container" data-podcast-id=podcast.id)
              p My Rating:
              each star in [1,2,3,4,5]
                if star > rating.rating
                  i(class="far fa-star rating" data-rating-id=rating.id data-rating=star data-podcast-id=podcast.id)
                else
                  i(class="fas fa-star rating" data-rating-id=rating.id data-rating=star data-podcast-id=podcast.id)
          div(class="podcast_container-info")
            p(class="content_container-text")= podcast.title
            p(class="content_container-header")= podcast.hostName
            p(class="content_container-para")= podcast.description
            button(class="content_container-link") Link
        div(class="reviews_container") Reviews
      div(class="rightContainer")
        div(class="box")
          h1 The form element
          form(class="form" action="/action_page.php")
            label(for="fname") First name:
            input#fname(type="text" name="fname")
            br
            br
            label(for="lname") Last name:
            input#lname(type="text" name="lname")
            br
            br
            input(type="submit" value="Submit")
          p
            | Click the "Submit" button and the form-data will be sent to a page on the
            | server called "action_page.php".
        div(class="box")
          h1 Explore the top five new podcasts
          div
            img(class="boxImage" src="/listen1.png")
          div
            p Explore trending topics in ...
