extends layout.pug
include utils.pug

block content
  body
    div(class="content content--main-sidebar")
      div(class="content_container-podcast-list")
        p(class="content_container-text")  Can't decide on what to listen to next?
        p(class="content_container-header")
          | You're in the right place!
        p(class="content_container-para")
          | Access our entire catolog down below.
        table(class="table")
          tbody
          each podcast in podcasts
            tr(class="row")
              td
                p 🎵
              td
                img(src=podcast.podcastImage width="100px" height="100px")
              td
                a(class="pocast-title" href=`/podcasts/${podcast.id}`)= podcast.title
                br
                span(class="by")= podcast.host
                div(class="star_container" data-podcast-id=podcast.id)
                  each star in [1,2,3,4,5]
                    if star > podcast.rating.rating
                      i(class="far fa-star rating" data-rating-id=podcast.rating.id data-rating=star data-podcast-id=podcast.id)
                    else
                      i(class="fas fa-star rating" data-rating-id=podcast.rating.id data-rating=star data-podcast-id=podcast.id)

      div(class="rightContainer-podcasts")
        div(class="just-added")
          h1 Explore the top five new podcasts
          div
            img(class="boxImage" src="/listen1.png")
          div
            p Explore trending topics in ...
        div(class="suggested")
          h1 Request Your Favorite Podcast
          form(class="form" action="/action_page.php")
            label(for="fname") Podcast Name:
            input#fname(type="text" name="fname")
            br
            br
            label(for="lname") Podcast Link:
            input#lname(type="text" name="lname")
            br
            br
            input(type="submit" value="Submit")
          //-
