extends layout.pug
include utils.pug

block content
  body
    nav(class="nave2box")
      div(class="mininav") home
      div(class="mininav") browse
      div(class="mininav") podcast
    div(class="content content--main-sidebar")
      div(class="content_container")
        p(class="content_container-text")= podcast.title
        p(class="content_container-header")= podcast.hostName
          |
        p(class="content_container-para")= podcast.description
          |
        table(class="table")
          tbody
            tr(class="row")
              td
                p
              td
                img(src="/imgs/crime-junkie.jpeg" width="100px" height="100px")
              td
                span(class="author-host")= podcast.title
                br
                span(class="by")= podcast.host
                div
                  i(class="fas fa-star rating")
                  i(class="fas fa-star rating")
                  i(class="fas fa-star rating")
                  i(class="fas fa-star rating")
                  i(class="fas fa-star-half-alt rating")
        div(class="reviews") Reviews go here

      div(class="rightContainer")
        div(class="box")
          h1 The form element
          form(class="form" action="/action_page.php")
            label(for="fname") First name:
            input#fname(type="text" name="fname")
            br
            br
            label(for="lname") Last name:
            input#lname(type="text" name="lname")
            br
            br
            input(type="submit" value="Submit")
          p
            | Click the "Submit" button and the form-data will be sent to a page on the
            | server called "action_page.php".
        div(class="box")
          h1 Explore the top five new podcasts
          div
            img(class="boxImage" src="/listen1.png")
          div
            p Explore trending topics in ...
