extends layout.pug
include utils.pug

block content
  body
    div(class="content content--main-sidebar")
      div(class="content_container")
        p(class="content_container-text")  Can't decide on what to listen to next?
        p(class="content_container-header")
          | You're in the right place!
        p(class="content_container-para-podcast")
          | Access our entire catolog down below.
        table(class="table")
          tbody
          each podcast in podcasts
            tr(class="row")
              td
                p 🎵
              td
                img(src=podcast.podcastImage width="100px" height="100px")
              td
                a(class="pocast-title" href=`/podcasts/${podcast.id}`)= podcast.title
                br
                span(class="by")= podcast.host
                div(class="star_container" data-podcast-id=podcast.id)
                  each star in [1,2,3,4,5]
                    if star > podcast.rating.rating
                      i(class="far fa-star rating" data-rating-id=podcast.rating.id data-rating=star data-podcast-id=podcast.id)
                    else
                      i(class="fas fa-star rating" data-rating-id=podcast.rating.id data-rating=star data-podcast-id=podcast.id)

      div(class="rightContainer")

        div(class="box")
          div(class="rec-content-pod")
            h1(class="rec-title") Podcast of the day
                          a(href=`/podcasts/${podcasts[0].id}`)
                            h1(class="rec-podtitle-pod" href="/users/login")= podcasts[0].title
                          a(href=`/podcasts/${podcasts[0].id}`)
                            img(src=podcasts[0].podcastImage width="180px" height="180px" class="podcast_table-image")
                          p(class="rec-host")= podcasts[0].hostName
                          div(class="star_container-pod")
                            div(data-podcast-id=podcasts[0].rating)
                            each star in [1,2,3,4,5]
                                    if star > podcasts[0].rating
                                        i(class="far fa-star rating" data-rating-id=podcasts[0].rating data-rating=star data-podcast-id=podcasts[0])
                                    else
                                        i(class="fas fa-star rating" data-rating-id=podcasts[0].rating data-rating=star data-podcast-id=podcasts[0])
                          p(class="rec-desc")= podcasts[0].description
