//- create class name for the divs

mixin validationErrors(errors)
    if errors   
        div(class="form_container-errors") 
            p(class="form_container-error-title") The following error(s) occured:
            ul
                each error in errors
                    li(class="form_container-error-li")= error

mixin field(labelText, fieldName, fieldValue)
    div(class="")
        label(class="form_container-form-input-label" for=fieldName)= labelText
        br
        input(style="color:black" type="text" id=fieldName name=fieldName value=fieldValue class="form_container-form-input")
        br
    
            